{erl_opts, [{parse_transform, lager_transform}, debug_info, {i, "../"}]}.
{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager.git", {tag,"3.2.4"}}},
    {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", {tag,"1.1.2"}}},
    {gen_smtp, ".*", {git,"https://github.com/Vagabond/gen_smtp.git",{tag,"0.13"}}}
    ]}.

{relx, [{release, { ldapregister, "0.1.0" },
         [ldapregister,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, false},
        {include_erts, true},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.



