html, body, div {
        background:#ffffff;
        padding:0px;
        margin:0px;
        width:100%;
/* Helvetica/Arial-based sans serif stack */
font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT",  "Myriad Pro", Myriad, "DejaVu Sans Condensed",  "Liberation Sans","Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
        color:#000000;
        font-size:16px;
}

img {
        margin:auto;
        padding:0px;
        border-width: 0;
}

ul li {
	line-height: auto;
}

ul, li, h3 {
	text-align:left;
}

#logo {
	margin-top: 30px;
	text-align:center;
}

#content{
        width:63%;
        height:100%;
        margin:auto;
		text-align:left;
		padding-top:20px;
		padding-right: 15%;
}


legend {
	font-weight:bold;
}

fieldset {
	margin-bottom: 30px;
}

.contact {
	padding-bottom:20px;
	font-weight:bold;
}

.why {
	margin-top: 50px;
}

#footer {
        clear:both;
        bottom:0px;
        margin:auto;
        width: 100%;
        padding-top:30px;
        text-align:center;
        background:#ffffff;
}

#footer p {
        display:block;
        color:#aaaaaa;
        font-size:12px;
}

#footer img {
        position:relative;
		margin-right:5px;
        top:12px;
        }
