%%% You MUST put proper configuration paramethers below
[{ldapregister,
    [{mailFrom,"Slaptažodžių dievas <address@domain.lt>"},
    {relay,"SMTP hostname_or_ip_address"},
     {relay_user,"SMTP_username"},
     {relay_pass,"SMTP_password"},
     {tls_port,8081}, % The port number to listen to 
     {tls_cacertfile,"/opt/ldapregister/ssl/cacert.crt"}, % Full path where your CA cert 
     {tls_certfile,"/opt/ldapregister/ssl/cert.crt"}, % Full path where your cert is 
     {tls_keyfile,"/opt/ldapregister/ssl/keyfile.key"}, % Full path where yout key is
     {base_url,"https://ldap.technarium.lt"},
     {ldap_hostname,"ldap_hostname"},
     {ldap_user,"UserDN"},
     {ldap_pass,"Pass"},
     {ldap_cacertfile,"/opt/ldapregister/ssl/ldapserver.crt"},
     {ldap_members_dn,"UserBaseDN"},
     {ldap_group_dn,"GroupBaseDn"}
     ]
}].


