[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
%% Mnesia config
 {mnesia,[
    {dir,"data"}]},

%% LDAPRegister config
%{ldapregister,
%    [{mailFrom,"Slaptažodžių dievas <members_info@cirka.lt>"},
%     {relay,"SMTP_relay_hostname_must_support_tls"},
%     {relay_user,"Username"},
%     {relay_pass,"Password"},
%     {tls_port,8081},
%     {tls_cacertfile,"./cacert.crt"},
%     {tls_certfile,"./cert.crt"},
%     {tls_keyfile,"./keyfile.key}
%]
%}
%% External configuration file for release independent configuration
"./ldapregister.config"
].

